<app-challenge-instruction 
  (challengeStartEvent)="startChallenge()" 
  [challenge]="liveChallenge.challengeDetails" 
  [problemTypes]="liveChallenge.problemTypes"  
  *ngIf="showInstruction && liveChallenge">
</app-challenge-instruction>

<div class="challenge-live" *ngIf="showLiveChallenge">
    <as-split direction="horizontal">
      <as-split-area class="problem-details-wrapper" [size]="35" [minSize]="30" [maxSize]="40">
          <div class="problem-select-header">
            <span class="dropdown-label">Problem : </span>
            <select [(ngModel)]="selectedProblem" class="problem-select">
              <option *ngFor="let problem of problems; let i = index" [ngValue]="problem">
                {{problem.name}}
              </option>
            </select>
            <span class="text-right float-right mt-1"> 
              <app-timer [startTime]="liveChallenge?.challengeInstanceSubmission?.startTime"></app-timer>
            </span>            
          </div>
          <div class="problem-details" *ngIf="selectedProblem">
            <div class="title">Problem Statement</div>
            <div class="description mt-2">
              <div [innerHTML]="selectedProblem.problemStatement"></div>
            </div>
          </div>
      </as-split-area>
      <as-split-area class="challenge-editor" [size]="65" [minSize]="50" [maxSize]="80">
        <div *ngIf="selectedProblem && liveChallenge">

          <code-editor *ngIf="selectedProblem.type == 'PROGRAM'" (finishChallengeEvent)="finishChallenge($event)" #codeEditor [problem]="selectedProblem" [liveChallenge]="liveChallenge"></code-editor>

          <free-text-editor *ngIf="selectedProblem.type == 'PUZZLE'" (finishChallengeEvent)="finishChallenge($event)" #freeTextEditor [problem]="selectedProblem"  [liveChallenge]="liveChallenge"></free-text-editor>
          
        </div>              
      </as-split-area>
    </as-split>
</div>
