.template-editor {
  height: 800px;
}

.editor-header-select{
    background: #fff;
    color: #46535e;
    font-weight: 600;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    padding: 0 5px 1px;
    outline: 0;
    border-color: #e5e7e8;
    width: 220px;
    height: 30px;
    margin-left: 5px;
}


.editor-footer{
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 27px;    
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
}
