<div class="challenge-details align-center">
    <div class="event-header">        
        <div class="inline-block event-title-block">
            <h3 class="larger dark capitalize font-weight-bold less-margin-2-bottom less-margin-2 ellipsis">Code Cracker Challenge</h3>
            <div class="regular light">OPENS AT:  Sep 10, 2021 06:00 PM IST 
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="form-container">
        <div class="challenge-body">Challenge Details</div>      
        <button type="button" class="btn btn-success btn-block">Register</button>
    </div>
</div>