<div class="container-div">

    <div class="d-flex">
      <div class="mr-auto p-2">
        <h6> <a (click)="back()" *ngIf="true"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> &nbsp; <strong>Manage Challenge Instances</strong></h6>
      </div>
      <div class="p-2">
        <button (click)="createChallengeInstance()" class="btn btn-info btn-sm"> <i class="fas fa-plus"></i> New</button>        
      </div>    
    </div>

    <table class="table table-striped">
        <thead>
        <tr>          
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Starts On</th>
          <th scope="col">Ends On</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let challengInstance of challengInstanceList">          
          <td>            
            {{ challengInstance.name }}
          </td>
          <td>{{ challengInstance.type}}</td>         
          <td>{{ challengInstance.startDate | date :  "dd/MM/yy hh:mm a" }}</td>
          <td>{{ challengInstance.endDate | date :  "dd/MM/yy hh:mm a" }}</td>
          <td>
            <span *ngIf="challengInstance.instanceStatus == 'LIVE'" class="badge badge-success"> {{ challengInstance.instanceStatus}}</span>
            <span *ngIf="challengInstance.instanceStatus == 'CREATED'" class="badge badge-primary"> {{ challengInstance.instanceStatus}}</span>
            <span *ngIf="challengInstance.instanceStatus == 'EXPIRED'" class="badge badge-danger"> {{ challengInstance.instanceStatus}}</span>
         </td>          
          <td>       
            
            <div class="dropdown">
              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                
                <a (click)="editChallengeInstance(challengInstance)" class="dropdown-item" *ngIf="true"><i class='fas fa-edit'></i> Edit </a>
                <a (click)="deleteChallengeInstance(challengInstance)" class="dropdown-item" *ngIf="challengInstance.instanceStatus == 'CREATED'"><i class='fas fa-trash'></i> &nbsp; Delete</a>
                <a (click)="startChallengeInstance(challengInstance)" class="dropdown-item" *ngIf="challengInstance.instanceStatus == 'CREATED'"><i class='fas fa-play'></i>&nbsp; Start</a> 
                <a (click)="stopChallengeInstance(challengInstance)" class="dropdown-item" *ngIf="challengInstance.instanceStatus == 'LIVE'"><i class='fas fa-stop'></i>&nbsp; Stop</a> 
                <a (click)="manageProblems(challengInstance)" class="dropdown-item" *ngIf="true"> <i class="fas fa-list" aria-hidden="true"></i> &nbsp;Problems </a>                                 
                <a (click)="evaluateChallengeInstance(challengInstance)" class="dropdown-item" *ngIf="challengInstance.instanceStatus == 'LIVE' || challengInstance.instanceStatus == 'EXPIRED'"><i class="fas fa-poll"></i>&nbsp; Evaluate</a>                      
              </div>
            </div>                        
          </td>          
        </tr>
        </tbody>
      </table>

</div>
