<div *ngIf="selectedProblem">
  
  <div class="editor-header" *ngIf="selectedProblem">  
    <span class="language">Language : </span>      
    <select [(ngModel)]="language" class="editor-header-select" (change)="onLanguageChange(language)">
      <option *ngFor="let lang of selectedProblem.languagesAllowed" [ngValue]="lang">
        {{lang.name}}
      </option>
    </select>      
    <button type="button" class="btn btn-success btn-sm float-right ml-2" (click)="finishChallenge()"> <i class="far fa-clock"></i> Finish</button>    
    <button type="button" [disabled]="isSolutionSubmitted()" class="btn btn-primary btn-sm float-right" (click)="saveSolution()"><i class="far fa-save"></i> Save</button>        
  </div>

  <ngx-monaco-editor
    *ngIf="showEditor"
    class="template-editor"
    [options]="editorOptions"  
    [(ngModel)]="code"     
    (onInit)="onEditorInit($event)"
  ></ngx-monaco-editor>
  
</div>