<div class="container-div align-center">
    <div class="event-header">        
        <div class="inline-block event-title-block">
            <h5 class="font-weight-bold text-center">Please read the instructions.</h5>            
        </div>
        <div class="clear"></div>
    </div>
    <div class="container instructions-container">
        <div class="row">
          <div class="col-sm">
                <h5 class="font-weight-bold">Test Instructions</h5>
                <ul>                    
                    <li>You must click Submit after you answer each question. </li>
                    <li>You have to complete the test in one attempt.</li>
                    <li>Do not close the browser window or tab of the test interface before you submit your final answers.</li>
                    <li>We recommend that you close all other windows and tabs to ensure that there are no distractions.</li>                    
                </ul>
          </div>
          <div class="col-sm">
                <h5 class="font-weight-bold">Question-specific Instructions</h5>
                <h6 class="font-weight-bold">Programming</h6>
                <ul>                    
                    <li>Select a programming language from the list before attempting each question.</li>
                    <li>For all programming problems, the inputs are taken from STDIN and output to STDOUT.</li>
                    <li>Click <b>COMPILE & TEST</b> to run your solution against relevant sample test cases before submitting your answer. This is applicable for programming questions only..</li>                    
                </ul>

                <h6 class="font-weight-bold">Puzzle</h6>
                <ul>                    
                    <li>Select a programming language from the list before attempting each question.</li>
                    <li>For all programming problems, the inputs are taken from STDIN and output to STDOUT.</li>                    
                </ul>
          </div>          
        </div>
        <div class="row">
            <div class="col-sm text-center">
                <a class="btn btn-primary" (click)="startChallenge()" role="button">Start</a>
            </div>            
        </div>
    </div>  
</div>