<div class="card card-inverse card-info" (click)="viewChallenge()">
    <div class="card-header" style="background-image: url('{{challenge.bannerImage}}')">            
        <div class="card-container text-center">
            <div class="registrations tool-tip align-left">
                <i class="fa fa-user"></i> 0
            </div>
        </div>
    </div>            
    <div class="card-block">                
        <h4 class="card-title">{{ challenge.name }}</h4>
        <div class="meta">
            <a >Start Date : {{ challenge.startDate | date: 'MMM d, y h:mm a' }}</a>            
        </div>
        <div class="meta">
            <a >End Date : {{ challenge.endDate | date: 'MMM d, y h:mm a' }}</a>
        </div>        
        <div class="card-text">
            {{ challenge.shortDescription }}
        </div>
    </div>    
    <div class="card-footer text-center">        
        <button *ngIf="!challenge.isRegistered" class="btn btn-info btn-sm" (click)="viewChallenge()">Register</button>
        <button *ngIf="challenge.isRegistered && !isLiveChallenge()" class="btn btn-success btn-sm">Registered</button>
        <button *ngIf="challenge.isRegistered && isLiveChallenge()" (click)="startChallenge()" class="btn btn-success btn-sm">Start</button>        
    </div>
</div>