<div class="card card-inverse card-info" (click)="viewChallenge()">
    <div class="card-header" style="background-image: url('{{challenge.bannerImage}}')">            
        <div class="card-container text-center">
            <div class="registrations tool-tip align-left">
                <i class="fa fa-user"></i> 0
            </div>
        </div>
    </div>            
    <div class="card-block">                
        <h4 class="card-title">{{ challenge.name }}</h4>
        <div class="meta">
            <a >Start Date : {{ challenge.startDate | date: 'MMM d, y h:mm a' }}</a>            
        </div>
        <div class="meta">
            <a >End Date : {{ challenge.endDate | date: 'MMM d, y h:mm a' }}</a>
        </div>        
        <div class="card-text">
            {{ challenge.shortDescription }}
        </div>
    </div>    
    <div class="card-footer text-right">        
        <button *ngIf="!isRegistered(challenge)" class="btn btn-info btn-sm" (click)="viewChallenge()">Register</button>
        <button *ngIf="isRegistered(challenge) && isLiveChallenge() && !isChallengeStarted()" class="btn btn-success btn-sm" (click)="startChallenge()" role="button">Start</button>
        <button *ngIf="isRegistered(challenge) && isLiveChallenge() && isChallengeStarted()" class="btn btn-success btn-sm" (click)="startChallenge()" role="button">Resume</button>
        <span *ngIf="isRegistered(challenge) && isChallengeSubmitted()" class="text-success"> <i class="far fa-check-circle"></i> Submitted</span>                
        <span *ngIf="isRegistered(challenge) && !isLiveChallenge() && !isChallengeSubmitted()" class="text-primary"> <i class="far fa-calendar-check"></i> Registered</span>        
    </div>
</div>