<div *ngIf="selectedProblem">
  
    <div class="editor-header" *ngIf="selectedProblem">   
       &nbsp; 
      <button type="button" class="btn btn-success btn-sm float-right ml-2" (click)="finishChallenge()"> <i class="far fa-clock"></i> Finish</button>    
      <button type="button" class="btn btn-primary btn-sm float-right" (click)="saveSolution(true)"><i class="far fa-save"></i> Save</button>        
    </div>

    <div class="editor-body">
          <form>        
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Your Answer</label>
              <textarea name="answer"  [(ngModel)]="answer" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
            </div>
          </form>
    </div>    

</div>