<app-challenge-instruction (challengeStartEvent)="startChallenge()" *ngIf="showInstruction"></app-challenge-instruction>
<div class="challenge-live" *ngIf="showLiveChallenge">
    <as-split direction="horizontal">
      <as-split-area class="problem-details-wrapper" [size]="30" [minSize]="10" [maxSize]="40">
          <div class="problem-select-header">
            <span class="language">Problem : </span>
            <select [(ngModel)]="selectedProblem" class="problem-select">
              <option *ngFor="let problem of problems; let i = index" [ngValue]="problem">
                {{problem.name}}
              </option>
            </select>
          </div>
          <div class="problem-details" *ngIf="selectedProblem">
            <div class="title">Problem Statement</div>
            <div class="description mt-2">
              <div [innerHTML]="selectedProblem.problemStatement"></div>
            </div>
          </div>
      </as-split-area>
      <as-split-area class="challenge-editor" [size]="70" [minSize]="60" [maxSize]="90">
        <div *ngIf="selectedProblem && liveChallenge">

          <code-editor *ngIf="selectedProblem.type == 'PROGRAM'" (finishChallengeEvent)="finishChallenge($event)" #codeEditor [problem]="selectedProblem" [liveChallenge]="liveChallenge"></code-editor>

          <free-text-editor *ngIf="selectedProblem.type == 'PUZZLE'" (finishChallengeEvent)="finishChallenge($event)" #freeTextEditor [problem]="selectedProblem"  [liveChallenge]="liveChallenge"></free-text-editor>
          
        </div>              
      </as-split-area>
    </as-split>
</div>
