<div class="card card-inverse card-info">
    <div class="card-header" style="background-image: url('https://picsum.photos/200/150/?random')">            
        <div class="card-container text-center">
            <div class="registrations tool-tip align-left">
                <i class="fa fa-user"></i> 0
            </div>
        </div>
    </div>            
    <div class="card-block">                
        <h4 class="card-title">Code Cracker</h4>
        <div class="meta">
            <a href="#">Start Date : 12-12-2021</a>
        </div>
        <div class="card-text">
            Tawshif is a web designer living in Bangladesh.
        </div>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-info btn-sm" (click)="registerChallenge()">Register</button>
    </div>
</div>