<div class="container-div">  
    <form [formGroup]="changePasswordForm">
        <div class="d-flex">
        <div class="mr-auto p-2">
            <h6> <a (click)="back()" *ngIf="true"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> &nbsp;
                 <strong>Change Password</strong>                 
            </h6>
        </div>
        <div class="p-2">            
            <button (click)="changePassword(changePasswordForm.value)" [disabled]="!changePasswordForm.valid" type="submit" class="btn btn-info btn-sm"> <i class="fas fa-save"></i> Update</button>        
        </div>    
        </div>

        <div class="row">
            <div class="col-12">        
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">Old Password</label>
                        <input formControlName="oldPassword" type="password" class="form-control" id="name" placeholder="Old Password">
                    </div>                        
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">New Password</label>
                        <input formControlName="newPassword" type="password" class="form-control" id="name" placeholder="New Password">
                    </div>                        
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">Confirm Password</label>
                        <input formControlName="confirmPassword" type="password" class="form-control" id="name" placeholder="Confirm Password">
                    </div>                        
                </div>                                 
            </div>       
        </div>
    </form>
  </div>
  