<div *ngIf="challenge" class="details-container align-center">
    <div class="event-header">        
        <div class="inline-block event-title-block">
            <h3 class="font-weight-bold">Code Work Challenge 1</h3>
            <div class="regular light">STARTS ON:  {{ challenge.startDate | date: 'MMM d, y h:mm a' }} </div>
            <div class="regular light">ENDS ON:  {{ challenge.endDate | date: 'MMM d, y h:mm a' }} </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="jumbotron details-container-body">
        <div [innerHTML]="challenge.longDescription"></div>        
        <p class="lead text-right">
            <a *ngIf="!isRegistered(challenge)" class="btn btn-primary btn-lg ml-3" (click)="registerChallenge()" role="button">Register</a>
            <a *ngIf="isRegistered(challenge) && isLiveChallenge() && !isChallengeStarted()" class="btn btn-success btn-lg ml-3" (click)="startChallenge()" role="button">Start</a>
            <a *ngIf="isRegistered(challenge) && isLiveChallenge() && isChallengeStarted()" class="btn btn-success btn-lg ml-3" (click)="startChallenge()" role="button">Resume</a>
            <span *ngIf="isChallengeSubmitted()" class="text-success" role="button"> <i class="far fa-check-circle"></i> Solution Submitted</span>
            <span *ngIf="isRegistered(challenge) && !isLiveChallenge() && !isChallengeSubmitted()" class="text-primary" role="button"> <i class="far fa-calendar-check"></i> Registered</span>
        </p>
    </div>  
</div>