<div *ngIf="challenge" class="details-container align-center">
    <div class="event-header">        
        <div class="inline-block event-title-block">
            <h3 class="font-weight-bold">Code Work Challenge 1</h3>
            <div class="regular light">STARTS ON:  {{ challenge.startDate | date: 'MMM d, y h:mm a' }} </div>
            <div class="regular light">ENDS ON:  {{ challenge.endDate | date: 'MMM d, y h:mm a' }} </div>
        </div>
        <p class="lead text-right">
          <a *ngIf="!isRegistered(challenge)" class="btn btn-primary btn-lg ml-3" (click)="registerChallenge()" role="button">Register</a>                        
          <span *ngIf="isRegistered(challenge)" class="text-primary" role="button"> <i class="far fa-calendar-check"></i> Registered</span>
        </p>
        <div class="clear"></div>
    </div>
    <div class="jumbotron details-container-body">
        <div [innerHTML]="challenge.longDescription"></div>                
        <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-left">
          <li [ngbNavItem]="1">
            <a ngbNavLink>My Submission</a>
            <ng-template ngbNavContent>              
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Problem</th>
                      <th scope="col">Type</th>                                            
                      <th scope="col">Start Date</th>
                      <th scope="col">End Date</th>
                      <th scope="col">Status</th>
                      <th scope="col">Submitted Date</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>                    
                    <tr *ngFor="let submission of challenge.userSubmissions;  let i = index ">             
                      <th scope="row">{{i+1}}</th>
                      <td>{{submission.problem}}</td>
                      <td>{{submission.problemType}}</td>
                      <td>{{submission.startTime | date:'dd/MM/yyyy hh:mm a' }}</td>
                      <td>{{submission.endTime | date:'dd/MM/yyyy hh:mm a'}}</td>
                      <td>
                          <span *ngIf="submission.submissionStatus == 'NOT_STARTED'" class="badge badge-secondary">Not Started</span>
                          <span *ngIf="submission.submissionStatus == 'IN_PROGRESS'" class="badge badge-primary">In Progress</span>
                          <span *ngIf="submission.submissionStatus == 'LIVE'" class="badge badge-success">Live</span>
                          <span *ngIf="submission.submissionStatus == 'SUBMITTED'" class="badge badge-success">Submitted</span>                                                    
                          <span *ngIf="submission.submissionStatus == 'EXPIRED'" class="badge badge-danger">Expired</span>
                      </td>
                      <td> <div *ngIf="submission.submittedTime">
                        {{submission.submittedTime | date:'dd/MM/yyyy hh:mm a'}}                          
                      </div></td>
                      <td>
                        <button *ngIf="isRegistered(challenge) && submission.submissionStatus == 'LIVE'" class="btn btn-info btn-sm" (click)="startChallenge(submission)">Start</button>        
                        <button *ngIf="isRegistered(challenge) && submission.submissionStatus == 'IN_PROGRESS'" class="btn btn-info btn-sm" (click)="startChallenge(submission)">Resume</button>        
                      </td>
                    </tr>                                                          
                  </tbody>
                </table>              
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Leaderboard</a>
            <ng-template ngbNavContent>
              <p>
                Leaderboard
              </p>
            </ng-template>
          </li>          
        </ul>
        
        <div [ngbNavOutlet]="nav" class="mt-2"></div>

    </div>  
</div>