<div class="modal-content">
	<div class="modal-header">
		<h6 class="font-weight-bold">Reset Password</h6>
		<button
            type="button"
            class="close"
            aria-label="Close"
            (click)="onCancel()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
	</div>
	<div class="modal-body">        
        <div class="form-group">            
          <div class="form-row">
            <div class="form-group col-md-12">
                <label for="name">New Password</label>
                <input [(ngModel)]="newPassword" type="password" class="form-control" id="name" placeholder="New Password">
            </div>                        
          </div>
        </div>                    
	</div>

  <div class="modal-footer">        
    <button type="button" *ngIf="newPassword" class="btn btn-primary" (click)="resetPassword()">Update</button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Close</button>
  </div>

</div>