<div class="container-div">

    <div class="d-flex">
      <div class="mr-auto p-2">
        <h6> <a (click)="back()" *ngIf="true"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> &nbsp; <strong>Manage Challenges</strong></h6>
      </div>
      <div class="p-2">
        <button (click)="createChallenge()" class="btn btn-info btn-sm"> <i class="fas fa-plus"></i> New</button>        
      </div>    
    </div>

    <table class="table table-striped">
        <thead>
        <tr>          
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let challenge of challenges">          
          <td>            
            {{ challenge.name }}
          </td>
          <td>{{ challenge.shortDescription}}</td>         
          <td>{{ challenge.startDate | date :  "dd/MM/yy hh:mm a" }}</td>
          <td>{{ challenge.endDate | date :  "dd/MM/yy hh:mm a" }}</td>
          <td>
            <span *ngIf="challenge.status == 'LIVE'" class="badge badge-success"> {{ challenge.status}}</span>
            <span *ngIf="challenge.status == 'SCHEDULED'" class="badge badge-primary"> {{ challenge.status}}</span>
            <span *ngIf="challenge.status == 'EXPIRED'" class="badge badge-danger"> {{ challenge.status}}</span>
         </td>          
          <td>                                
            <div class="dropdown">
              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a *ngIf="true" class="dropdown-item" (click)="editChallenge(challenge)"><i class='fas fa-edit'></i> &nbsp; Edit</a>
                <a *ngIf="challenge.status == 'SCHEDULED'" (click)="publishChallenge(challenge)" class="dropdown-item"><i class='fas fa-play'></i> &nbsp; Publish</a>
                <a *ngIf="challenge.status == 'LIVE'" (click)="stopChallenge(challenge)" class="dropdown-item"><i class='fas fa-stop'></i> &nbsp; Stop</a>                
                <a *ngIf="true" class="dropdown-item" (click)="viewChallengeInstance(challenge)"><i class="fas fa-list" aria-hidden="true"></i> &nbsp; Challenge Instances</a>                                
              </div>
            </div>                                       
          </td>          
        </tr>
        </tbody>
      </table>

</div>
