<div class="container-div">  
    <form [formGroup]="challengeForm">
        <div class="d-flex">
        <div class="mr-auto p-2">
            <h6> <a (click)="back()" *ngIf="true"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> &nbsp;
                 <strong *ngIf="!challengeId">Create Challenge</strong>
                 <strong *ngIf="challengeId">Update Challenge</strong>
            </h6>
        </div>
        <div class="p-2">
            <button (click)="createChallenge(challengeForm.value)" *ngIf="!challengeId" [disabled]="!challengeForm.valid" type="submit" class="btn btn-info btn-sm"> <i class="fas fa-save"></i> Save</button>        
            <button (click)="updateChallenge(challengeForm.value)" *ngIf="challengeId" [disabled]="!challengeForm.valid" type="submit" class="btn btn-info btn-sm"> <i class="fas fa-save"></i> Update</button>        
        </div>    
        </div>

        <div class="row">
            <div class="col-12">        
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="name">Name</label>
                        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name">
                    </div>         
                    <div class="form-group col-md-3">
                        <label for="name">Short Description</label>
                        <input formControlName="shortDescription" type="text" class="form-control" id="name" placeholder="Short Description">
                    </div>                 
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Widget Image Url</label>
                        <input formControlName="bannerImage" type="text" class="form-control" id="name" placeholder="Widget Image Url">
                    </div>                             
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Long Description</label>                        
                        <textarea formControlName="longDescription" class="form-control" id="longDescription" placeholder="Long Description" rows="5"></textarea>      
                        <button *ngIf="challengeForm.value && challengeForm.value.longDescription" (click)="previewLongDescription(challengeForm.value.longDescription)" type="button" class="btn btn-info btn-sm mt-1"> <i class="fas fa-search"></i> Preview</button>        
                    </div>                          
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="name">Start Date</label>
                        <div class="input-group">                            
                            <input type="text"
                            formControlName="startDate"
                            placeholder="Start Date"
                            class="form-control"
                            [bsConfig]="{withTimepicker: true, rangeInputFormat : 'DD/MM/YYYY h:mm a', dateInputFormat: 'DD/MM/YYYY h:mm A'}"
                            bsDatepicker
                            >
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon"> <i class="fa fa-calendar" aria-hidden="true"></i> </div>
                            </div>
                        </div>                        
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label for="name">End Date</label>
                        <div class="input-group">                            
                            <input type="text"
                            formControlName="endDate"
                            placeholder="End Date"
                            class="form-control"
                            [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
                            bsDatepicker
                            >
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon"> <i class="fa fa-calendar" aria-hidden="true"></i> </div>
                            </div>
                        </div>                        
                    </div>

                </div> 

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Common Instruction</label>                        
                        <textarea formControlName="commonInstructions" class="form-control" id="longDescription" placeholder="Common Instruction" rows="5"></textarea>      
                        <button *ngIf="challengeForm.value && challengeForm.value.commonInstructions" (click)="previewLongDescription(challengeForm.value.commonInstructions)" type="button" class="btn btn-info btn-sm mt-1"> <i class="fas fa-search"></i> Preview</button>        
                    </div>                          
                </div>
                                            
                <strong>Problem Specific Instruction</strong>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="card">
                            <div class="card-body" formArrayName="questionSpecificInstructions">                                           
                                <div class="" *ngFor="let questionSpecificInstruction of questionSpecificInstructions.controls; let i = index">
                                    <ng-container [formGroupName]="i">
                                        #{{i+1}} &nbsp;
                                        <label class="sr-only" for="input">Problem Type</label>                                        
                                        <select [compareWith]="problemTypeCompare" formControlName="problemType" class="form-control mb-2 mr-sm-2">
                                            <option *ngFor="let problemType of problemTypes" [ngValue]="problemType">
                                                {{ problemType }}
                                            </option>    
                                        </select>     

                                        <label class="sr-only" for="c">Instruction</label>
                                        <textarea formControlName="instruction" class="form-control mb-2 mr-sm-6" placeholder="Instruction" rows="4"></textarea>                                                                                          
                                        <button *ngIf="questionSpecificInstruction.value.instruction" (click)="previewLongDescription(questionSpecificInstruction.value.instruction)" type="button" class="btn btn-info btn-sm mb-2 mr-2"> <i class="fas fa-search"></i> Preview</button>        
                                        <button *ngIf="i == questionSpecificInstructions.controls.length - 1" (click)="addQuestionSpecificInstruction()" type="submit" class="btn btn-primary btn-sm mb-2">Add</button>
                                        <button *ngIf="i != questionSpecificInstructions.controls.length - 1" (click)="deleteQuestionSpecificInstruction(i)" type="submit" class="btn btn-danger btn-sm mb-2">Remove</button>
                                    </ng-container>
                                </div>                                 
                            </div>
                        </div>
                    </div>                    
                </div>                
                
            </div>       
        </div>
    </form>
  </div>
  